.chart .domain {
  display: none;
}

.chart .x-axis .domain,
.chart .x-axis line {
  stroke: none;
  fill: none;
}

.chart .y-axis line {
  stroke: #e2e8f0;
  stroke-dasharray: 2, 2;
}

.chart .growth-line {
  stroke: #f56565;
}

.chart .cursor-line {
  stroke: #a0aec0;
  stroke-dasharray: 2, 2;
}

.chart .cursor-point {
  fill: #a0aec0;
  stroke: #fff;
}
